/*
 * Blog posts
 */
.blog-post {
  margin-top: 80px;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
}

.blog-post dl dd {
  padding-left: 50px;
  padding-right: 50px;
}
