@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
::selection {
  background-color: #a9ff81d8;
  color: #000000;
}
body {
  background-color: #f4ffef;
}
.navigasi {
  background-color: #f4ffef;
  color: #252526;
}

.navigasi ul li a {
  color: black;
  font-weight: 600;
}

.nav-link .active {
  background-color: green;
}

.navigasi ul li a:hover {
  color: red;
}

#calltoaction {
  background: url(/Images/img2.jpg) no-repeat;
  background-size: 100% 100%;
}

.calltoactiontext {
  margin-top: -115px;
}

/* .jumbotext {
  color: #252526;
} */

.leadctatext {
  margin-top: -65px;
}

.leadtypetext {
  margin-top: -30px;
}

.list-group {
  background-color: #f4ffef;
}

.list-group-flush {
  background-color: #f4ffef;
}

.waicon img {
  width: 70px;
  z-index: 4000;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay:target img {
  animation: zoomDanFade 1s;
}

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .overlay img {
    width: 100%;
  }

  .waicon img {
    width: 50px;
    z-index: 4000;
    position: fixed;
    right: 30px;
    bottom: 30px;
  }
}

.overlay:target .close {
  animation: slideDownFade 0.5s 0.5s forwards;
}

/* animasi */
@keyframes zoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
